.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background-image: url("/public/bg_robot.png");
  background-size: cover;
}

.dark {
  filter: invert()
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html {
  height: 100%;
}

* {
  font-family: 'Russo One', sans-serif !important;
}

#root {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e5e7e6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formi {
  background-color: #f2f2f2;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

.gridi {
  border-radius: 3rem;
  padding: 0.5rem;
  width: 50%;
}

.grido {}

.papier {

  width: 80%;
  padding: 3rem;

}

a {
  color: #305a63;
  text-decoration: none;
}

@media only screen and (max-width: 888px) {
  .App {
    flex-direction: column;
  }

  #root {
    height: 100%;
  }

  .App-header {
    font-size: 20px;
  }

  .papier {
    flex-direction: column-reverse;
    background-image: none;
    padding: 0;
    width: 97%;
  }

  form {
    padding: 1rem;
  }

  .formi {
    margin-bottom: 0;
  }

  .gridi {
    background-color: #fff;
    width: 100%;
    padding-bottom: 2rem;
  }

  .grido {
    width: 97%;
  }

  .App-logo {
    height: 20vmin;
  }
}